{% extends 'todo/base.html' %}

{% block content %}
<h1> Grade Todo List...</h1>

<div class="lab">
	<form action="{% url 'todo:responseform' %}" method="POST">
		{% csrf_token %}
		{% for todolist in todo %}

		{{ todolist.name }}   {{ todolist.stipulated_time}} {{ todolist.id }}
		<input type="checkbox" name= {{ todolist.id }} value=True></br>
		
		{% empty %}

		<p> Sorry, You haven't make a todolist today</p>


		{% endfor %}
		<button name='submit' class="butn"><span></span>Grade</button>

		
	</form>
</div>
{% endblock content %}